.navbar {
  @extend $clearfix;
  padding: 0 (grid.gutter/2);
  margin-bottom: 1rem;
  overflow-x: auto;
  .nav,
  .input,
  .button {
    margin-bottom: 0;
  }
  .nav > li > a {
    padding: paddingLarge;
  }
  form {
    margin: 0.3125rem auto;
  }
}
