/*
TODO:
- improve navbar
- change `select` icon
- vertical rhythm
- add media elements?
- add responsive embed classes?
- add dropdown menu?
- add margin helpers like flatui (give only bottom and right - single direction margins?)
- use hsl for colors?
- remove blockquote and table styling?

later:
- cleanup code - use property ordering
- add mixins !important
- add examples
- add online customizer
- use $ for variables to make it like SCSS?
*/

@import 'modernize'

@import 'variables'
@import 'common'

@import 'typography'
@import 'grid'
@import 'buttons'
@import 'forms'
@import 'tables'
@import 'navs'
@import 'navbar'
@import 'helpers'
