.table {
  width: 100%;
  max-width: 100%;
  td,
  th {
    padding: 10px;
    text-align: left;
    border: 0 solid #ddd;
    border-bottom-width: 1px;
  }
  tbody tr:last-child td,
  tbody tr:last-child th {
    border-bottom-width: 0;
  }
  thead th {
    border-bottom-width: 2px;
  }
  &.bordered {
    thead th {
      border-width: 1px 1px 2px 0;
    }
    thead th:first-child {
      border-left-width: 1px;
    }
    td,
    th {
      border-width: 0 1px 1px;
    }
    tbody tr:last-child td,
    tbody tr:last-child th {
      border-bottom-width: 1px;
    }
  }
}
