fontSize = 16px
fontFamily = sans-serif
fontFamilyMonospace = Consolas, Courier, monospace
lineHeight = 1.5

fontSizeSmall = 0.85rem
fontSizeMedium = 1rem
fontSizeLarge = 1.25rem

paddingMediumX = 0.75rem
paddingMediumY = 0.375rem
paddingSmallX = 0.75rem
paddingSmallY = 0.275rem
paddingLargeX = 1.25rem
paddingLargeY = 0.75rem

paddingMedium = paddingMediumY paddingMediumX
paddingSmall = paddingSmallY paddingSmallX
paddingLarge = paddingLargeY paddingLargeX

borderRadius = 0

// old

base = 10
baseHeight = 10

font = {
  size: 14
  lineHeight: 20
}

colors = {
  primary: #2980b9
  secondary: #95a5a6
  // info: #33C3F0
  success: #2ecc71
  // warning: #f39c12
  error: #e74c3c
  // inverse: #555
}
colorFaded = #f7f7f7

grid = {
  columns: 12
  gutter: 1rem
}

devices = {
  mobile: 0
  phablet: 34em
  tablet: 48em
  desktop: 62em
  hd: 75em
}

containerMaxWidths = {
  phablet: 34rem  // 480
  tablet: 45rem   // 720
  desktop: 60rem  // 960
  hd: 72.25rem    // 1140
}
